<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://JAVA.sun.com/xml/ns/javaee" version="2.5"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- DELOYING THE DEMO SERVLET -->
	 <!--  <servlet>
		<servlet-name>abcd</servlet-name>
		<servlet-class>com.ty.controller.SecondServlet</servlet-class>
	</servlet> --> 
	
	<servlet>
		<servlet-name>ab</servlet-name>
		<servlet-class>com.ty.Student.EB8.controller.LoginController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ab</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
</web-app>
